h1 {
  font-family: "Lobster";
  text-align: center;
}
p {
  text-align: center;
  font-size: 1.1rem;
}

body {
  position: relative;
}

nav a:hover {
  color: red;
}

ul li a:hover {
  color: pink;
}

footer {
  padding-top: 1rem;
}

.d-none {
  display: none;
}

#perks {
  margin: -0.1rem;
}

h2 {
  color: green;
}

object {
  height: 30px;
  padding-left: .5rem;
}

#socialsvg {
  
 margin-bottom: -.5rem;
  
}
.dropdown-menu {
  width: max-content;
}
 
 /* Center the <h1> within the navbar */
 /* .navbar .navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}   */

  /* @media (min-width: 600px) and (max-width: 992px) {
  .dropdown-menu {
      left: 100% !important;
      top: 0 !important;
      transform: none !important;
  }
} 

@media (max-width: 600px) {
  .dropdown-menu {
      left: 100% !important;
      top: 0 !important;
      transform: none !important;
  }
}  */


        /* Fix dropdown positioning on small screens */
        @media (max-width: 991px) {
          .dropdown-menu {
              width: 100%; /* Make dropdown full-width for better visibility */
              text-align: center; /* Center the dropdown content */
          }
      }

 /* .navbar h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  margin: 0; 
}   */