h1 {
  font-family: "Lobster";
  text-align: center;
}
p {
  text-align: center;
  font-size: 1.1rem;
}

body {
  position: relative;
}

nav a:hover {
  color: red;
}

ul li a:hover {
  color: pink;
}

footer {
  padding-top: 1rem;
}

.d-none {
  display: none;
}

#perks {
  margin: -0.1rem;
}

h2 {
  color: green;
}

object {
  height: 30px;
  padding-left: .5rem;
}

#socialsvg {
  
 margin-bottom: -.5rem;
  
}

