html {
  overflow-y: scroll;
}

nav {
  font-display: swap; /* Ensures a smooth transition to the font */
}

@font-face {
  font-family: 'Lobster';
  src: url('/public/Fonts/Lobster/Lobster-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Lobster";
  text-align: center;
  color: white;
  
}

h2 {

  font-family: "Lobster";
  text-align: center;


  color: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  color: -webkit-linear-gradient(to right, rgba(106,17,203,0.65), rgba(37,117,252,0.65));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: linear-gradient(to right, rgba(106,17,203,0.65), rgba(37,117,252,0.65))

}


p {
  text-align: center;
  font-size: 1.1rem;
}

body {
  position: relative;
}

nav a:hover {
  color: red;
}

ul li a:hover {
  color: pink;
}

footer {
  padding-top: 1rem;
}

.d-none {
  display: none;
}

#perks {
  margin: -0.1rem;
}


object {
  height: 30px;
  padding-left: .5rem;
}

#socialsvg {
  
 margin-bottom: -.5rem;
  
}

#legal {
  padding-bottom: 30px;
  font-size: 10px;
}

#forgotPass {
  
    margin: 0 auto; /* Added */
    float: none; /* Added */
    
}

.dropdown-menu {
  width: max-content;
}


/* This is the Navbar gradient  */

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106,17,203,0.65), rgba(37,117,252,0.65));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106,17,203,0.65), rgba(37,117,252,0.65))

}





 
 /* Center the <h1> within the navbar */
 /* .navbar .navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}   */

  /* @media (min-width: 600px) and (max-width: 992px) {
  .dropdown-menu {
      left: 100% !important;
      top: 0 !important;
      transform: none !important;
  }
} 

@media (max-width: 600px) {
  .dropdown-menu {
      left: 100% !important;
      top: 0 !important;
      transform: none !important;
  }
}  */


        /* Fix dropdown positioning on small screens */
        @media (max-width: 991px) {
          .dropdown-menu {
              width: 100%; /* Make dropdown full-width for better visibility */
              text-align: center; /* Center the dropdown content */
          }
      }

 /* .navbar h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  margin: 0; 
}   */